// Imports
@import "../../styles/sass/mixins";
//

.header {
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @include respond(tab-port) {
    text-align: center;
  }

  &__main {
    padding-left: 7rem;
    position: relative;
    @include respond(phone) {
      padding: 4rem;
    }

    h1 {
      font-size: 7rem;
      @include respond(phone) {
        font-size: 4.3rem;
      }
      &:last-of-type {
        margin-bottom: 5rem;
        position: relative;
        &::after {
          content: "</ h1 >";
          @include backgroundStructure;
          margin-left: 1.5rem;
        }
      }
      span {
        display: inline-block;
        white-space: pre-wrap;
      }
      span:hover {
        color: var(--color-secondary-light);
        animation: rubberBand;
        animation-duration: 0.2s;
        animation-fill-mode: both;
        animation-iteration-count: 1;
      }

      @keyframes rubberBand {
        from {
          transform: scale3d(1, 1, 1);
        }

        30% {
          transform: scale3d(1.25, 0.75, 1);
        }

        40% {
          transform: scale3d(0.75, 1.25, 1);
        }

        50% {
          transform: scale3d(1.15, 0.85, 1);
        }

        65% {
          transform: scale3d(0.95, 1.05, 1);
        }

        75% {
          transform: scale3d(1.05, 0.95, 1);
        }

        to {
          transform: scale3d(1, 1, 1);
        }
      }
    }
    &__special {
      position: relative;
      color: var(--color-secondary-light);
      &::after {
        content: "J";
        color: var(--color-tertiary-light);
        position: absolute;
        left: 0;
        transform: translateX(4px);
      }
    }
    &::before {
      content: "< h1 >";
      @include backgroundStructure;
      // position: absolute;
      // display: inline;
      top: 3.5rem;
      left: 2.5rem;
    }
  }
  &__quote {
    @include backgroundStructure;

    width: 95%;
    font-size: 3rem;
    display: block;
    opacity: 0.7;
    padding-top: 6rem;
    padding-left: 7rem;
    &::before {
      content: "< p >";
      font-size: 2rem;
    }
    &::after {
      content: "</ p >";
      font-size: 2rem;
      margin-left: 1rem;
    }
  }
}

//   Styling of the background html scheme
.back__scheme {
  @include backgroundStructure;
  &__html {
    position: absolute;
    top: 1rem;
    left: 0;
  }
  &__body {
    position: absolute;
    top: 5rem;
    left: 1rem;
  }
  &__header {
    position: absolute;
    top: 9rem;
    left: 2rem;
  }
  &__headerClose {
    @include backgroundStructure;
    position: absolute;
    bottom: 2rem;
    left: 2rem;
  }

  &__button {
    @include backgroundStructure;
    position: absolute;
    left: -9rem;
  }
  &__buttonClose {
    @include backgroundStructure;
    position: absolute;

    right: -10rem;
  }
  .form__bodyClose {
    @include backgroundStructure;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  &__htmlClose {
    @include backgroundStructure;
    bottom: 0;
    left: 0;
  }
}

// Bounce animation effect
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
