// Navigation panel
.nav {
  height: 100vh;
  position: fixed;
  width: 16rem;
  background-color: var(--color-primary-medium);
  top: 0;
  left: 0;

  // LOGO CONTAINER
  &__logo {
    display: flex;
    flex-direction: column;

    align-items: center;
    background-color: var(--color-primary-dark);

    // Logo
    &__element1 {
      font-size: 10rem;
      font-weight: 700;
      color: var(--color-secondary-light);
      position: relative;
      cursor: pointer;

      &::after {
        content: "J";
        color: var(--color-tertiary-light);
        position: absolute;
        top: 0;
        left: 0;
        transform: translateX(4px);
      }
      // Name
    }
    &__element2 {
      font-size: 2rem;
      font-weight: 900;
      margin-top: -3.5rem;
      margin-bottom: 0.5rem;
    }
    // Position
    &__element3 {
      color: var(--color-quaternary-light);
      margin-bottom: 2rem;
    }
  }
  &__navigation {
    color: var(--color-quaternary-light);
  }
}
