@import "../../styles//sass/mixins";
// Navigation panel
.nav {
  height: 100vh;
  position: fixed;
  background-color: var(--color-primary-medium);
  top: 0;
  left: 0;

  @include respond(tab-port) {
    background-color: transparent;
    width: 100%;
    height: 0;
    position: relative;
  }
  // Full-screen nav disabled after 900px
  &__fullScreenNav {
    width: 16rem;
    @include respond(tab-port) {
      display: none;
    }
  }

  // LOGO CONTAINER
  &__logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-primary-dark);

    // Logo
    &__element1 {
      font-size: 10rem;
      font-weight: 700;
      color: var(--color-secondary-light);
      position: relative;
      cursor: pointer;
      text-decoration: none;

      &::after {
        content: "J";
        color: var(--color-tertiary-light);
        position: absolute;
        top: 0;
        left: 0;
        transform: translateX(4px);
      }
      // Name
    }
    &__element2 {
      font-size: 2.2rem;
      font-weight: 900;
      margin-top: -3.5rem;
      margin-bottom: 0.5rem;
    }
    // Position
    &__element3 {
      color: var(--color-secondary-darker);
      font-size: 1.4rem;
      margin-bottom: 3rem;
    }
  }

  // LINKS

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    list-style: none;
    margin-top: 8rem;
    color: var(--color-secondary-darker);
    @include respond(tab-port) {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 3000;
      font-weight: 300;
      text-transform: uppercase;
      justify-content: center;
    }

    &__item {
      width: 100%;
      text-align: center;
      border-top: 1px solid rgba(174, 254, 255, 0.1);
      padding: 1.2rem;

      &:last-child {
        border-bottom: 1px solid rgba(174, 254, 255, 0.1);
      }
    }
    &__link {
      &:link,
      &:visited {
        display: inline-block;
        font-size: 2.2rem;
        text-decoration: none;
        color: inherit;
        transition: all 0.2s;
        @include respond(tab-port) {
          font-size: 3rem;
        }
      }

      &:hover,
      &:active {
        transform: scale(1.1);
        color: var(--color-secondary-light);
      }
    }
  }
  &__social {
    margin-top: 10rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    @include respond(tab-port) {
      justify-content: center;
      margin-top: 4rem;
    }

    &__link {
      &:link,
      &:visited {
        font-size: 2.2rem;
        color: var(--color-secondary-darker);
        @include respond(tab-port) {
          padding: 0rem 2rem;
        }
      }
      &:hover,
      &:active {
        transform: scale(1.1);
        color: var(--color-secondary-light);
      }
    }
  }

  // COLLAPSED NAVIGATION
  &__collapse {
    height: 100vh;
    width: 100%;
    position: relative;
    &__navigation {
      height: 100%;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 2000;
      opacity: 0;
      width: 0;
      transition: all 0.8s cubic-bezier(0.86, 0, 0.07, 1);
    }

    &__checkbox {
      display: none;
    }

    &__button {
      background-color: var(--color-secondary-dark);
      height: 7rem;
      width: 7rem;
      position: fixed;
      top: 6rem;
      right: 6rem;
      border-radius: 50%;
      z-index: 4000;
      cursor: pointer;
      text-align: center;
      @include respond(phone) {
        height: 6rem;
        width: 6rem;
        top: 3rem;
        right: 3rem;
      }
    }

    &__background {
      height: 6rem;
      width: 6rem;
      border-radius: 50%;
      position: fixed;
      top: 6.5rem;
      right: 6.5rem;
      background-image: radial-gradient(
        var(--color-secondary-medium),
        var(--color-secondary-darker)
      );
      z-index: 1000;
      transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
      @include respond(phone) {
        height: 5rem;
        width: 5rem;
        top: 3.5rem;
        right: 3.5rem;
      }
    }

    // ICON
    &__icon {
      position: relative;
      margin-top: 3.5rem;
      @include respond(phone) {
        margin-top: 3rem;
      }

      &,
      &::before,
      &::after {
        width: 3rem;
        height: 2px;
        background-color: var(--color-primary-dark);
        display: inline-block;
        transition: all 0.2s;
      }

      &::before,
      &::after {
        content: "";
        position: absolute;
        left: 0;
      }
      &::before {
        top: -0.8rem;
      }
      &::after {
        top: 0.8rem;
      }
    }
  }
}

.middleLine {
  background-color: transparent;
  &::before {
    top: 0;
    transform: rotate(135deg);
  }
  &::after {
    top: 0;
    transform: rotate(-135deg);
  }
}
// // Toggle functionality
.toggleNav {
  opacity: 1;
  width: 100%;
}

.toggleBack {
  transform: scale(100);
}

@media (min-width: 56.25em) {
  .nav__collapse {
    display: none;
    visibility: hidden;
  }
  .hide__link {
    display: none;
    visibility: hidden;
  }
}
