@import "../../styles/sass/mixins";

.portfolio {
  height: 100vh;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  h2 {
    font-size: 6rem;
    margin-bottom: 2rem;
  }

  p {
    color: var(--color-secondary-dark);
    font-size: 2rem;
    margin-bottom: -2rem;
  }

  &__container {
    list-style: none;
    width: 100%;
    display: grid;
    padding: 5rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 15vw 15vw;
    grid-gap: 1.5rem;
  }
  // // // // // // // // // video

  &__hoverContent {
    cursor: pointer;
  }
  &__hoverContent:hover &__video {
    display: inline-block;
  }

  &__video {
    display: none;
    width: 100%;
    height: 100%;
    z-index: 3;
    transition: all 0.6s;
    position: relative;
    z-index: 100;
    opacity: 1;
    &__content {
      height: 100%;
      width: 100%;
    }

    &:hover {
      transform: scale(1.4);
    }

    &:hover &__link {
      transform: scale(1.4);
    }

    &__link {
      color: var(--color-white);
      font-size: 2rem;
      position: absolute;
      left: 0;
      right: 0;
      z-index: 10000;
      :hover {
        color: var(--color-secondary-dark);
      }
    }
  }

  // // // // // // // // //

  &__item__1 {
    @include portfolioBackground;
    background-image: url("../../public/projectFood.png");
  }
  &__item__2 {
    @include portfolioBackground;
    background-image: url("../../public/projectMapty.png");
  }
  &__item__3 {
    background-image: url("../../public/MKTFY.png");
    @include portfolioBackground;
  }
  &__item__4 {
    background-image: url("../../public/projectNexter1.png");
    @include portfolioBackground;
  }
  &__item__5 {
    background-image: url("../../public/projectNatour.png");
    @include portfolioBackground;
  }
  &__item__6 {
    background-image: url("../../public/projectNext.png");
    @include portfolioBackground;
  }

  &__hoverContent {
    width: 100%;
    height: 100%;
    position: relative;
  }
}
