@import "../../styles/sass/mixins";

.portfolio {
  display: grid; //
  grid-template-columns: min-content(7rem, 1fr) 1fr min-content(7rem, 1fr); //
  grid-row-gap: 3rem;

  h2 {
    grid-column: 2 / 4;
    font-size: 6rem;
    position: relative;

    @include respond(phone) {
      text-align: center;
    }
    &::before {
      content: "< h2 >";
      @include backgroundStructure;
      margin-right: 1rem;
    }
    &::after {
      content: "</ h2 >";
      @include backgroundStructure;
      margin-left: 1rem;
    }
  }

  p {
    color: var(--color-secondary-dark);
    grid-column: 2 / 3;
    font-size: 2.4rem;
    font-weight: 300;
    position: relative;
    @include respond(phone) {
      text-align: center;
    }
    &::before {
      content: "< p >";
      @include backgroundStructure;
      margin-right: 1rem;
    }
    &::after {
      content: "</ p >";
      @include backgroundStructure;
      margin-left: 1rem;
    }
  }

  &__container {
    list-style: none;
    position: relative;
    width: 100%;
    height: 100%;
    grid-column: 2 /3;
    display: grid;
    grid-template-columns: repeat(4, 25rem);
    grid-template-rows: repeat(2, 25rem);
    justify-content: center;

    @include respond(tab-land) {
      grid-template-columns: repeat(4, 21rem);
      grid-template-rows: repeat(2, 21rem);
    }
    @include respond(tab-port) {
      grid-template-columns: repeat(3, 25rem);
      grid-template-rows: repeat(2, 25rem);
    }
    @include respond(phone) {
      grid-template-columns: repeat(1, 32rem);
      grid-template-rows: repeat(8, 32rem);
      row-gap: 2rem;
    }
  }
  // images as a background
  &__image {
    filter: grayscale(20%);
  }
  &__hoverContent:hover &__image {
    filter: blur(2px);
  }

  // video element

  &__hoverContent:hover &__video {
    display: inline-block;
    @include respond(tab-port) {
      display: none;
    }
  }

  &__video {
    display: none;
    width: 100%;
    height: 100%;
    z-index: 3;
    transition: all 0.1s;

    position: relative;
    z-index: 100;
    overflow: hidden;
    backface-visibility: hidden;
    @include respond(tab-port) {
    }

    &__content {
      height: 100%;
      width: 100%;
    }

    &:hover {
      transform: scale(1.5);
      transition: all 0.6s;
    }

    &__link {
      color: var(--color-secondary-dark);
      font-size: 2rem;
      position: absolute;
      text-decoration: none;
      right: 5%;
      bottom: 15%;

      z-index: 10000;

      :hover {
        color: var(--color-tertiary-light);
      }
    }
  }

  // // // // // // // // //
  // Hide elements on the smaller screen and show them on the phone size screen
  &__item__7 {
    @include respond(tab-port) {
      display: none;
    }
    @include respond(phone) {
      display: inline-block;
    }
  }

  &__item__8 {
    @include respond(tab-port) {
      display: none;
    }
    @include respond(phone) {
      display: inline-block;
    }
  }
  //
  &__hoverContent {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    transition: all 0.3s;
    cursor: pointer;
  }
  &__hoverLink:hover &__hoverContent span {
    filter: blur(2px);
  }
  &__hoverLink {
    width: 10rem;
    height: 10rem;
    display: none;
    text-decoration: none;
    font-size: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transition: all 2s;
    span {
      display: flex;
      width: 100%;
      height: 100%;
      background-color: var(--color-secondary-dark);
      color: var(--color-white);
      border-radius: 50%;
      justify-content: center;
      align-items: center;
      transform: scale(1);
      transition: all 0.2s;

      &:hover {
        color: var(--color-secondary-light);
        transform: scale(1.1);
      }
    }
  }
  &__hoverContent:hover {
    background-color: rgba(7, 34, 39, 0.5);
  }
  &__hoverContent:hover .portfolio__hoverLink {
    display: inline-block;
    transform: translate(-50%, -50%) scale(1);
  }
  // image
}
