@import "./sass/mixins";
@import "./sass/utilities";
@import "./sass/typography";

// BASE SETUP
// // // // // // // // // // //

:root {
  // VARIABLES

  --color-primary-light: rgb(7, 34, 39);
  --color-primary-medium: #071e22;
  --color-primary-dark: #051a20;

  --color-secondary-light: #aefeff;
  --color-secondary-medium: #4fbdba;
  --color-secondary-dark: #35858b;
  --color-secondary-darker: #208294;

  --color-tertiary-light: #e23333;

  --color-white: #ffffff;
  --color-black: #000;
  --color-grey: #ffffffbe;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%; //1rem = 10px; 10px/16px=62.5%
  box-sizing: border-box;

  @include respond(tab-land) {
    //width <1200
    font-size: 56.25%; //1rem=9px. 9/16=56.35%
  }
  @include respond(tab-port) {
    //width <900
    font-size: 50%; //1rem=8px. 8/16=50%
  }

  @include respond(big-desktop) {
    font-size: 75%; //1rem=12px, 12/16=75%
  }
  @include respond(tab-phone) {
    //width <1200
  }
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background-color: var(--color-primary-light);
  color: var(--color-white);
}

// HOME PAGE STYLES
