.about {
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  //   justify-content: space-around;
  position: relative;

  //   About me

  //   Section with a photo and the detailed explanation
  &__zone {
    width: 50%;
    &__heading {
      font-size: 4rem;
    }
    &__photo {
      width: 32rem;
      height: 32rem;
      background-image: url("../../../../../IMG_9675-removebg-preview.jpeg");
      background-position: center; /* Center the image */
      background-repeat: no-repeat; /* Do not repeat the image */
      background-size: cover; /* Resize the background image to cover the entire container */
      align-self: center;
    }
    &__text {
      padding: 0 5rem;
      h2 {
        font-size: 3.5rem;
        font-weight: 300;
        margin-top: 3rem;
        color: var(--color-tertiary-light);
      }
      h4 {
        font-size: 2.2rem;
        font-weight: 300;
      }
      p {
        font-size: 1.6rem;
        color: var(--color-secondary-dark);
        margin: 2.5rem 0;
      }
    }
  }

  //   Interests
  &__personal {
    &__interests {
      h3 {
        font-size: 2.5rem;
        font-weight: 300;
        color: var(--color-secondary-dark);
        margin-bottom: 2rem;
      }
      &__container {
        display: flex;
        //   align-items: center;
      }
      &__icon {
        font-size: 3rem;
        color: var(--color-secondary-dark);
        display: flex;
        padding: 1rem;

        &__text {
          font-size: 2rem;
          color: var(--color-white);
          margin-left: 1rem;
        }
      }
    }
  }
}
